* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(226, 43%, 10%);
  color: white;
  font-family: "Rubik", sans-serif;
  height: 100vh;
  display: grid;
  align-items: center;
}
.all {
  display: flex;
  align-items: center;
  justify-content: center;
}
.all-div {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 40px;
  column-gap: 40px;
  margin-top: 90px;
}
.to-div {
  background-color: hsl(15, 100%, 70%);
  width: 255px;
  border-radius: 12px;
}
.to-div2 {
  background-color: hsl(195, 74%, 62%);
  width: 255px;
  border-radius: 12px;
}
.to-div3 {
  background-color: hsl(348, 100%, 68%);
  width: 255px;
  border-radius: 12px;
}
.to-div4 {
  background-color: hsl(145, 58%, 55%);
  width: 255px;
  border-radius: 12px;
}
.to-div5 {
  background-color: hsl(264, 64%, 52%);
  width: 255px;
  border-radius: 12px;
}
.to-div6 {
  background-color: hsl(43, 84%, 65%);
  width: 255px;
  border-radius: 12px;
}

.to-div:hover {
  background-color: hsl(15, 100%, 70%);
}
.text {
  background-color: hsl(235, 46%, 20%);
  border-radius: 12px;
  padding: 24px;
  
}
.text:hover{
  cursor: pointer;
}
.top-color {
  background-color: hsl(15, 100%, 70%);
  width: 100%;
  height: 2.5rem;
  border-radius: 12px;
}
.top-color2 {
  background-color: hsl(195, 74%, 62%);
  height: 2.5rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.top-color3 {
  background-color: hsl(348, 100%, 68%);
  height: 2.5rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.top-color4 {
  background-color: hsl(145, 58%, 55%);
  height: 2.5rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.top-color5 {
  background-color: hsl(264, 64%, 52%);
  height: 2.5rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.top-color6 {
  background-color: hsl(43, 84%, 65%);
  height: 2.5rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.Previous {
  color: hsl(236, 100%, 87%);
}
.header-d {
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
}
.botm {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.butname {
  background-color: transparent;
  border: none;
}
.hrs {
  font-size: 3.5rem;
  margin-bottom: 0.5rem;
}

.all-div1 {
  background-color: hsl(15, 100%, 70%);
  border-radius: 12px;
}

.text:hover {
  background-color: hsl(237, 43%, 32%);
  
}

